@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
}

<h2>Enter your Name Please</h2>
<div class="modal-body">

    <form asp-action="borrowerUserList" asp-controller="User" method="get">
        <div class="form-group">
            <label for="UserName">Your Name</label>
            <input type="text" class="form-control" id="UserName" name="UserName" required />
        </div>

        <button type="submit" class="btn btn-primary mt-4">Enter</button>
    </form>
</div>


<div>

    <a asp-action="Index" asp-controller="Library" class="btn btn-outline-primary">Back to List</a>
</div>