@model LibrarySystem.ViewModel.BookViewModel

<h2>Enter your Name to Borrowed @Model.Name book </h2>
<div class="modal-body">
   
    <form asp-action="Create" asp-controller="User">
        <div class="form-group">
            <label for="UserName">Your Name</label>
            <input type="text" class="form-control" id="UserName" name="UserName" required style="max-width=20px" />
        </div>
    
        <button type="submit" class="btn btn-primary mt-4">Borrow</button>
    </form>
</div>


<div>
   
    <a asp-action="Index" asp-controller="Library" class="btn btn-outline-primary">Back to List</a>
</div>
